* {
    font-family: geom ;
}

.maintitle {
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;       /* Centra verticalmente */
    background-color: lightskyblue;
    border-radius: 8px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 20px;
}

.lista li::marker {
    color: lightskyblue;
}

.lidesc {
    background-color: aliceblue;
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
}