* {
    font-family: geom ;
}

.maintitle {
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;       /* Centra verticalmente */
    background-color: lightskyblue;
    border-radius: 8px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 20px;
}

.lista li::marker {
    color: lightskyblue;
}

.lidesc {
    background-color: aliceblue;
    border-radius: 4px;
    padding: 10px;      /* opcional, para que el texto no quede pegado */
    display: flex;
    align-items: center;
    height: auto;       /* se ajusta al contenido */
}

nav {
    display: flex;
    justify-content: space-evenly; /* Distribuye los links */
    align-items: center;
    background-color: lightskyblue;
    height: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 20px;
}

nav .item {
    text-decoration: none;
    color: black;
    margin: 10px;
}

nav .item:hover {
    color: white;
    font-weight: bold;
}

.blurbox {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px) saturate(150%);
    border-radius: 16px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
